@media (min-width:1200px) {
    .navbar-expand-lg .navbar-toggler {
        display: none !important;
    }

    .navbar-expand-lg .navbar-collapse {
        display: none !important;
    }
}

@media (max-width:993px) {
    .custom-dropdown-menu {
        box-shadow: none !important;
        border-radius: 0px !important;
    }

    .custom-dropdown-menu .dropdown-item,
    .custom-dropdown-menu {
        background-color: #014C88;
        color: white !important;
    }
}

@media (max-width:769px) {
    .menu {
        gap: 14px;
    }

    .skillImage img {
        height: auto;
    }

    .infra-banner img {
        height: 310px;
    }

    .programPara,
    .whyChoosePara {
        max-width: 100%;
        width: 100%;
    }

    #navbarSupportedContent {
        border-top: 1px solid #014C88;
    }

    .containerPy,
    .footerContainer {
        padding: 40px 10px !important;
    }

    .bgColorLinear {
        padding: 30px 10px;
    }

    .programCard,
    .eligiblityCard,
    .whyCHooseCard,
    .plus-box,
    .objectiveCard {
        padding: 20px;
    }

    .gap-md-20 {
        gap: 20px !important;
    }

    .gap-md-40 {
        gap: 40px !important;
    }

    .mainHeading {
        font-size: 35px;
        line-height: 48px;
    }

    .cta-heading,
    .careerOppHead h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .programHead h3,
    .softSkillHead h3,
    .eligibeHead h3,
    .whyChooseHead h3 {
        font-size: 28px;
        line-height: 30px;
    }

    .infra-content h2,
    .commitment h3,
    .objective {
        font-size: 22px;
        line-height: 30px;
    }

    .softSkillPara,
    .whyChoosePara,
    .cta-para {
        font-size: 16px;
        line-height: 24px;
    }

    .mainPara,
    .programPara,
    .softSkillPoint,
    .eligiblityPoint,
    .whyChoosePara,
    .plus-box span,
    .btn-apply,
    .btn-brochure,
    .btn-visit,
    .careerOppPara,
    .objective-para {
        font-size: 14px;
        line-height: 24px;
    }

    .iconBthHead,
    .programHeading,
    .whyCHooseHeading {
        font-size: 18px;
        line-height: 28px;
    }

    .menu {
        gap: 10px !important;
    }
}


@media (min-width:764px) {
    .gap-48 {
        gap: 48px !important;
    }

    .gap-65 {
        gap: 65px !important;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .navbar-expand-lg .navbar-toggler {
        display: none !important;
    }

    .navbar-expand-lg .navbar-collapse {
        display: none !important;
    }

    .nav-link {
        font-size: 12px;
    }

    .menu {
        gap: 18px;
    }
}