body {
  font-family: 'Poppins', sans-serif;
}

.font-robots {
  font-family: 'Roboto Slab', serif !important;
}

.font-poppins {
  font-family: 'Poppins', sans-serif !important;
}

.containerPy {
  padding: 80px 0px !important;
}

.w-fit {
  width: fit-content !important;
}

.border-radius-16 {
  border-radius: 16px !important;
}

.color-1 {
  color: #475569 !important;
}

.color-2 {
  color: #dbeafe !important;
}

.color-3 {
  color: #014c88 !important;
}

.color-4 {
  color: #0f172a !important;
}

.color-5 {
  color: #01829a !important;
}

.bg-shad-1 {
  background: #014c88 !important;
}

.bg-shad-2 {
  background: #8ec5ff !important;
}

.bg-shad-3 {
  background: #01829a !important;
}

.bg-shad-4 {
  background: #eff6ff !important;
}

.bg-shad-5 {
  background: #fffbeb !important;
}

.bg-linear {
  background:
    linear-gradient(180deg, rgba(1, 76, 136, 0.03) 2.5%, rgba(1, 76, 136, 0) 2.5%),
    linear-gradient(90deg, rgba(1, 76, 136, 0.03) 2.5%, rgba(1, 76, 136, 0) 2.5%),
    linear-gradient(90deg, #f8fafc 0%, #f8fafc 100%);
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

/* Main */
.mainImage {
  background: url('../images/Group_pg_7.webp') no-repeat center center / cover !important;
}

.badge-main {
  border-radius: 26843500px;
  border: 0.8px solid rgba(96, 165, 250, 0.3);
  background: rgba(96, 165, 250, 0.2);
  padding: 10px 18px;
  margin-bottom: 50px;
}

.mainHeading {
  font-size: 60px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: -1.5px;
}

.mainPara,
.softSkillPara,
.careerOppPara,
.eligiblityPoint,
.whyChoosePara,
.cta-para,
.objective-para {
  font-size: 18px;
  font-weight: 400;
  line-height: 29.25px;
  /* 162.5% */
}

.btn-apply,
.btn-brochure,
.btn-visit {
  padding: 14px 32px;
  border-radius: 26843500px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.btn-brochure {
  box-shadow: none !important;
  border: 0.8px solid rgba(255, 255, 255, 0.3);
}

.btn-visit {
  box-shadow: none !important;
  border: 1.6px solid #fff;
}

/* Main */
.countBox {
  min-width: 200px;
}

.skillImage {
  max-height: 360px;
  height: 100%;
}

.skillImage img,
.careerOppImg img,
.main-img {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.main-img {
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(1, 76, 136, 0.3) 0%, rgba(1, 76, 136, 0) 100%) !important;
}

.main-img img {
  border-radius: 16px;
}

.bgColorLinear {
  padding: 48px 0px;
}

.bgLinear,
.bgColorLinear {
  border-bottom: 0.8px solid #f1f5f9;
  background: linear-gradient(
    135deg,
    #eff6ff 0%,
    #f1f7ff 14.29%,
    #f4f9ff 28.57%,
    #f6faff 42.86%,
    #f8fbff 57.14%,
    #fafcff 71.43%,
    #fdfeff 85.71%,
    #fff 100%
  );
}

.iconBtn {
  width: 48px;
  height: 48px;
  padding: 12px 12px 0 12px;
  border-radius: 16px;
}

.iconBthHead,
.programHeading,
.whyCHooseHeading {
  font-size: 20px;
  line-height: 30px;
}

.programHead h3,
.softSkillHead h3,
.careerOppHead h3,
.eligibeHead h3,
.whyChooseHead h3,
.commitment h3 {
  font-size: 36px;
  line-height: 40px;
}

.programHead span,
.softSkillHead span,
.careerOppHead span,
.eligibeHead span,
.whyChooseHead span,
.commitment span {
  width: 80px;
  height: 6px;
  border-radius: 26843500px;
}

.programCard,
.whyCHooseCard {
  border-radius: 16px;
  border: 0.8px solid #f1f5f9;
  padding: 32px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.programIcon,
.disclaimer-icon,
.whyCHooseIcon {
  width: 60px;
  height: 60px;
  background-color: #eff6ff;
  border-radius: 16px;
}

.programPara {
  max-width: 460px;
  width: 100%;
}

.whyChoosePara {
  max-width: 620px;
  width: 100%;
}

.careerOppPara {
  max-width: 900px;
}

.objective {
  font-size: 24px;
  line-height: 28.8px;
}

.objectiveCard {
  border-radius: 16px;
  border: 1px solid #f1f5f9;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 25px;
}
