body {
    font-family: "Poppins", sans-serif;
}

.font-robots {
    font-family: "Roboto Slab", serif !important;
}

.font-poppins {
    font-family: "Poppins", sans-serif !important;
}

.containerPy {
    padding: 80px 0px !important;
}

.w-fit {
    width: fit-content !important;
}

.border-radius-16 {
    border-radius: 16px !important;
}

.color-1 {
    color: #475569 !important;
}

.color-2 {
    color: #DBEAFE !important;
}

.color-3 {
    color: #014C88 !important;
}

.color-4 {
    color: #0F172A !important;
}

.color-5 {
    color: #01829A !important;
}

.color-6 {
    color: #93C5FD !important;
}

.color-7 {
    color: #64748B !important;
}

.bg-shad-1 {
    background: #014C88 !important;
}

.bg-shad-2 {
    background: #8EC5FF !important;
}

.bg-shad-3 {
    background: #01829A !important;
}

.bg-shad-4 {
    background: #F1F5F9 !important;
}

.bg-shad-5 {
    background: #F59E0B !important;
}

.bg-shad-6 {
    background: #EFF6FF !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.ws-8 {
    word-spacing: 8px !important;
}

.ws-20 {
    word-spacing: 20px !important;
}

/* Header */
.logo-img {
    height: 60px;
    flex-shrink: 0;
}

.navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
}

.menu {
    gap: 32px;
}

.menu li,
.btnExpCourse,
.foothead,
.programPara,
.softSkillPoint,
.whyChoosePara,
.careerOppPoint,
.headbanner,
.accreditionpara,
.recognitionHeading,
.cta-para {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
}

.btnExpCourse {
    padding: 10px 24px;
    border-radius: 33554400px;
    background: #014C88;
    box-shadow: 0 10px 15px 0 rgba(59, 130, 246, 0.30), 0 4px 6px 0 rgba(59, 130, 246, 0.30);
}

.nav-link.dropdown-toggle::after {
    display: none !important;
}

.nav-link.dropdown-toggle .arrow-icon {
    display: inline-block;
    transition: transform 0.25s ease;
    vertical-align: middle;
}

.nav-link.dropdown-toggle[aria-expanded="true"] .arrow-icon {
    transform: rotate(180deg);
}

.nav-link,
.bannerbtn,
.accreditionlist,
.recognitionpara {
    font-size: 14px;
    white-space: nowrap;
}

.custom-dropdown-menu {
    border: none !important;
    border-radius: 12px !important;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.12) !important;
    padding: 0 !important;
    overflow: hidden;
    min-width: 200px;
}

.custom-dropdown-menu .dropdown-item {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #014C88 !important;
    padding: 10px 0px;
    border-bottom: 1px solid #e2e8f0;
    background: #fff;
}

.custom-dropdown-menu {
    padding: 20px !important;
}

.custom-dropdown-menu .dropdown-item:hover,
.custom-dropdown-menu .dropdown-item:focus {
    background: #f0f7ff !important;
    color: #014C88 !important;
}

#navbarSupportedContent .nav-link,
.d-none.d-md-flex .nav-link {
    padding: 8px 0 !important;
}

/* Header */

/* Main */
.mainImage {
    background: url('../images/Group_pg_7.webp') no-repeat center center / cover !important;
}

.mainGrid {
    gap: 40px
}

.badge-main {
    border-radius: 26843500px;
    border: 0.8px solid rgba(96, 165, 250, 0.30);
    background: rgba(96, 165, 250, 0.20);
    padding: 10px 18px;
    margin-bottom: 10px;
}

.mainHeading {
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -1.5px;
}

.mainGridPara {
    font-size: 15px;
    line-height: 22.5px;
}

.mainPara,
.softSkillPara,
.careerOppPara,
.eligiblityPoint,
.whyChoosePara,
.cta-para,
.academicHeading {
    font-size: 18px;
    font-weight: 400;
    line-height: 29.25px;
}

.btn-apply,
.btn-brochure,
.btn-visit {
    padding: 14px 32px;
    border-radius: 26843500px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.btn-brochure {
    box-shadow: none !important;
    border: 0.8px solid rgba(255, 255, 255, 0.30);
}

.btn-visit {
    box-shadow: none !important;
    border: 1.6px solid #014C88;
}

.main-img {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.main-img {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(1, 76, 136, 0.30) 0%, rgba(1, 76, 136, 0.00) 100%) !important;
}

.main-img img {
    border-radius: 16px;
}

/* Main */
.whyCHooseHeading {
    font-size: 20px;
    line-height: 30px;
}

.whyChooseHead h3,
.mainGridHeading {
    font-size: 36px;
    line-height: 40px;
}

.whyChooseHead span {
    width: 80px;
    height: 6px;
    border-radius: 26843500px;
}

.whyCHooseCard {
    border-radius: 16px;
    border: 0.8px solid #F1F5F9;
    padding: 32px;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.whyCHooseIcon {
    width: 60px;
    height: 60px;
    background-color: #EFF6FF;
    border-radius: 16px;
}

.accreditionPara {
    max-width: 500px;
    width: 100%;
}

.recognitionPara {
    max-width: 600px;
}

.play-overlay {
    width: 80px;
    height: 80px;
    border-radius: 48px;
    background-color: white;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.50);
}

.play-overlay svg {
    width: 24px;
}

/* Accredition */
.accreditionCard {
    border-radius: 24px;
    border: 1px solid #FDE68A;
    background: #FFF;
    padding: 40px;
    gap: 40px;
}

.accreditionImg {
    border-radius: 20px;
    border: 2px solid #FCD34D;
    background: #F1F5F9;
    padding: 32px;
}

.accreditionBadge {
    border-radius: 33554400px;
    background: #FEF3C7;
    padding: 4px 16px;
    color: #92400E;
    font-size: 13px;
    line-height: 19.5px;
}

.accreditionHeading,
.ctaHead {
    font-size: 28px;
    line-height: 42px;
}

.accreditionGrid {
    grid-template-columns: repeat(3, 1fr);
}

.accreditionPoint {
    width: 8px;
    height: 8px;
    flex-shrink: 0;
}

.academicContent>div {
    padding: 4px 12px;
    border-radius: 33554400px;
    background: #FEE2E2;
}

/* Recognition */
.recognitionCard {
    border-radius: 20px;
    border: 1px solid #FECACA;
    background: #FFF5F5;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.07);
    padding: 30px;
}

.recognition-img {
    width: 120px;
    height: 120px;
}

/* Academic & Industry Collaborations */
.academicIndustryCard {
    border-radius: 20px;
    border: 1px solid #FECACA;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.07);
}

.academicImgBox {
    padding: 32px;
    background: #FFF5F5;
    border-radius: 20px 20px 0px 0px;
}

.academicImgBox>div {
    height: 100px;
}

.academicBadge {
    color: #991B1B;
    font-size: 12px;
    line-height: 16px;
}

.academicContent {
    padding: 30px;
}

.ctaContainer {
    max-width: 1200px;
    padding: 40px;
    border-radius: 24px;
    border: 1px solid #BFDBFE;
    background: #EFF6FF;
}

/* Footer */
.social-icon {
    width: 40px;
    height: 40px;
    padding: 0 10px;
    border-radius: 26843500px;
    background: rgba(255, 255, 255, 0.10);
}

.fpara p,
.footlinks,
.copyrightPara,
.iconBthPara,
.badge-font,
.academicIndustryPara {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footerContainer {
    padding: 64px 0;
}

.copyrightBorder {
    border-top: 0.8px solid rgba(255, 255, 255, 0.10);
    opacity: 0.6;
}

/* Footer */