body {
    font-family: "Poppins", sans-serif;
}

.font-robots {
    font-family: "Roboto Slab", serif !important;
}

.font-poppins {
    font-family: "Poppins", sans-serif !important;
}

.containerPy {
    padding: 80px 0px !important;
}

.w-fit {
    width: fit-content !important;
}

.border-radius-16 {
    border-radius: 16px !important;
}

.color-1 {
    color: #475569 !important;
}

.color-2 {
    color: #DBEAFE !important;
}

.color-3 {
    color: #014C88 !important;
}

.color-4 {
    color: #0F172A !important;
}

.color-5 {
    color: #01829A !important;
}

.color-6 {
    color: #93C5FD !important;
}

.color-7 {
    color: #64748B !important;
}

.color-8 {
    color: #1D293D !important;
}

.color-9 {
    color: #45556C !important;
}

.color-10 {
    color: #90A1B9 !important;
}

.bg-shad-1 {
    background: #014C88 !important;
}

.bg-shad-2 {
    background: #8EC5FF !important;
}

.bg-shad-3 {
    background: #01829A !important;
}

.bg-shad-4 {
    background: #F1F5F9 !important;
}

.bg-shad-5 {
    background: #F59E0B !important;
}

.bg-shad-6 {
    background: #EFF6FF !important;
}

.bg-shad-7 {
    background: #F8FAFC !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.ws-8 {
    word-spacing: 8px !important;
}

.ws-20 {
    word-spacing: 20px !important;
}

.object-position-top {
    object-position: top;
}

/* Main */
.mainImage {
    background: url('../images/Group_pg_7.webp') no-repeat center center / cover !important;
}

.mainGrid {
    gap: 40px
}

.badge-main {
    border-radius: 26843500px;
    border: 0.8px solid rgba(96, 165, 250, 0.30);
    background: rgba(96, 165, 250, 0.20);
    padding: 10px 18px;
    margin-bottom: 10px;
}

.mainHeading {
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -1.5px;
}

.mainGridPara {
    font-size: 15px;
    line-height: 22.5px;
}

.mainPara,
.softSkillPara,
.careerOppPara,
.eligiblityPoint,
.whyChoosePara,
.cta-para,
.academicHeading,
.member-head {
    font-size: 18px;
    font-weight: 400;
    line-height: 29.25px;
}

.btn-apply,
.btn-brochure,
.btn-visit {
    padding: 14px 32px;
    border-radius: 26843500px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.btn-brochure {
    box-shadow: none !important;
    border: 0.8px solid rgba(255, 255, 255, 0.30);
}

.btn-visit {
    box-shadow: none !important;
    border: 1.6px solid #014C88;
}

.main-img {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.main-img {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(1, 76, 136, 0.30) 0%, rgba(1, 76, 136, 0.00) 100%) !important;
}

.main-img img {
    border-radius: 16px;
}

/* Main */
.whyCHooseHeading {
    font-size: 20px;
    line-height: 30px;
}

.whyChooseHead h3,
.mainGridHeading,
.rankingContent h3 {
    font-size: 36px;
    line-height: 40px;
}

.whyChooseHead span {
    width: 80px;
    height: 6px;
    border-radius: 26843500px;
}

.whyCHooseCard {
    border-radius: 16px;
    border: 0.8px solid #F1F5F9;
    padding: 32px;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.whyCHooseIcon,
.disclaimer-icon {
    width: 60px;
    height: 60px;
    background-color: #EFF6FF;
    border-radius: 16px;
}

.accreditionPara {
    max-width: 500px;
    width: 100%;
}

.recognitionPara {
    max-width: 600px;
}

.play-overlay {
    width: 80px;
    height: 80px;
    border-radius: 48px;
    background-color: white;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.50);
}

.play-overlay svg {
    width: 24px;
}

.max-h-600px {
    max-height: 520px;
    height: 100%;
}

.rankingCard {
    border-radius: 24px;
    border: 0.8px solid #F1F5F9;
    box-shadow: 0 20px 25px -5px rgba(226, 232, 240, 0.50), 0 8px 10px -6px rgba(226, 232, 240, 0.50);
    padding: 20px;
    gap: 20px;
}

.rankingContent h5 {
    font-size: 18px;
    line-height: 22.5px;
}

.rankingfooter p {
    font-size: 12px !important;
    line-height: 18px;
    letter-spacing: 1.2px;
}

.rankingfooter div {
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 26843500px;
    opacity: 0.9466;
    background: #2B7FFF;
}

