body {
    font-family: "Poppins", sans-serif;
}

.font-robots {
    font-family: "Roboto Slab", serif !important;
}

.font-poppins {
    font-family: "Poppins", sans-serif !important;
}

.containerPy {
    padding: 80px 0px !important;
}

.w-fit {
    width: fit-content !important;
}

.border-radius-16 {
    border-radius: 16px !important;
}

.color-1 {
    color: #475569 !important;
}

.color-2 {
    color: #DBEAFE !important;
}

.color-3 {
    color: #014C88 !important;
}

.color-4 {
    color: #0F172A !important;
}

.color-5 {
    color: #01829A !important;
}

.color-6 {
    color: #93C5FD !important;
}

.color-7 {
    color: #64748B !important;
}

.bg-shad-1 {
    background: #014C88 !important;
}

.bg-shad-2 {
    background: #8EC5FF !important;
}

.bg-shad-3 {
    background: #01829A !important;
}

.bg-shad-4 {
    background: #F1F5F9 !important;
}

.bg-shad-5 {
    background: #F59E0B !important;
}

.bg-shad-6 {
    background: #EFF6FF !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.ws-8 {
    word-spacing: 8px !important;
}

.ws-20 {
    word-spacing: 20px !important;
}

/* Main */
.mainImage {
    background: url('../images/Group_pg_7.webp') no-repeat center center / cover !important;
}

.badge-main {
    border-radius: 26843500px;
    border: 0.8px solid rgba(96, 165, 250, 0.30);
    background: rgba(96, 165, 250, 0.20);
    padding: 10px 18px;
    margin-bottom: 10px;
}

.mainPara,
.softSkillPara,
.careerOppPara,
.eligiblityPoint,
.whyChoosePara,
.cta-para,
.academicHeading {
    font-size: 18px;
    font-weight: 400;
    line-height: 29.25px;
}

.btn-apply,
.btn-brochure,
.btn-visit {
    padding: 14px 32px;
    border-radius: 26843500px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.btn-brochure {
    box-shadow: none !important;
    border: 0.8px solid rgba(255, 255, 255, 0.30);
}

.btn-visit {
    box-shadow: none !important;
    border: 1.6px solid #014C88;
}

.main-img {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.main-img {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(1, 76, 136, 0.30) 0%, rgba(1, 76, 136, 0.00) 100%) !important;
}

.main-img img {
    border-radius: 16px;
}

/* Main */
.whyCHooseHeading,
.disclaimer-head {
    font-size: 20px;
    line-height: 30px;
}

.whyChooseHead h3,
.mainGridHeading {
    font-size: 36px;
    line-height: 40px;
}

.whyChooseHead span {
    width: 80px;
    height: 6px;
    border-radius: 26843500px;
}

.whyCHooseCard {
    border-radius: 16px;
    border: 0.8px solid #F1F5F9;
    padding: 32px;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.whyCHooseIcon {
    width: 60px;
    height: 60px;
    background-color: #EFF6FF;
    border-radius: 16px;
}

.accreditionPara {
    max-width: 500px;
    width: 100%;
}

.recognitionPara {
    max-width: 600px;
}

.play-overlay {
    width: 80px;
    height: 80px;
    border-radius: 48px;
    background-color: white;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.50);
}

.play-overlay svg {
    width: 24px;
}

.ctaContainer {
    max-width: 1200px;
    padding: 26px;
    border-radius: 16px;
    border: 1px solid #BFDBFE;
    background: #EFF6FF;
}

.disclaimer-container {
    padding: 30px;
    position: relative;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid #F1F5F9;
    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.08);
}

.disclaimer-container::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    border-radius: 4000px 4000px 0px 0px;
    height: 4px;
    background: linear-gradient(180deg, #014C88 0%, #60A5FA 100%);
}

.discalimer-card {
    border-bottom: 1px solid #F1F5F9;
}

.disclaimer-icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

