.industialHead h2,
.section-title {
    font-size: 36px;
    line-height: 40px;
}

.industialHead h3,
.industryCardHeading {
    font-size: 20px;
    line-height: 28px;
}

.industialHead span {
    width: 80px;
    height: 6px;
    border-radius: 26843500px;
}

.industialPara {
    max-width: 740px;
    width: 100%;
}

.industialPara {
    font-size: 16px;
    line-height: 24px;
}

.section-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}


.section-label::before,
.section-label::after {
    display: inline-block;
    content: '';
    width: 36px;
    height: 2px;
    background: #014C88;
    border-radius: 2px;
}

.section-label,
.industryCarddate {
    font-size: 12px;
    line-height: 16px;
}

.section-label {
    letter-spacing: 1.2px;
}

.industryExprosure {
    border: 0.759px solid #F1F5F9;
    box-shadow: 0 0.948px 2.844px 0 rgba(0, 0, 0, 0.10), 0 0.948px 1.896px -0.948px rgba(0, 0, 0, 0.10);
}

.industry-badge {
    border-radius: 25451328px;
    background: rgba(0, 0, 0, 0.30);
    padding: 4px 8px;
    font-size: 10px;
    line-height: 15px;
    top: 15px;
    right: 15px;
}

@media (max-width:769px) {
    .section-title {
        font-size: 28px !important;
        line-height: 30px !important;
    }

    .industryCardHeading {
        font-size: 16px;
        line-height: 20px;
    }
}