body {
    font-family: "Poppins", sans-serif;
}

.font-robots {
    font-family: "Roboto Slab", serif !important;
}

.font-poppins {
    font-family: "Poppins", sans-serif !important;
}

.containerPy {
    padding: 80px 0px !important;
}

.w-fit {
    width: fit-content !important;
}

.border-radius-16 {
    border-radius: 16px !important;
}

.color-1 {
    color: #475569 !important;
}

.color-2 {
    color: #DBEAFE !important;
}

.color-3 {
    color: #014C88 !important;
}

.color-4 {
    color: #0F172A !important;
}

.color-5 {
    color: #60A5FA !important;
}

.bg-shad-1 {
    background: #014C88 !important;
}

.bg-shad-2 {
    background: #8EC5FF !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.ws-8 {
    word-spacing: 8px !important;
}

.ws-20 {
    word-spacing: 20px !important;
}

/* Header */
.logo-img {
    height: 60px;
    flex-shrink: 0;
}

.navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
}

.menu {
    gap: 32px;
}

.menu li,
.btnExpCourse,
.foothead,
.programPara,
.softSkillPoint,
.whyChoosePara,
.careerOppPoint {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
}

.btnExpCourse {
    padding: 10px 24px;
    border-radius: 33554400px;
    background: #014C88;
    box-shadow: 0 10px 15px 0 rgba(59, 130, 246, 0.30), 0 4px 6px 0 rgba(59, 130, 246, 0.30);
}

/* Header */

/* Main */
.mainImage {
    background: url('../images/Group_pg_7.webp') no-repeat center center / cover !important;
}

.badge-main {
    border-radius: 26843500px;
    border: 0.8px solid rgba(96, 165, 250, 0.30);
    background: rgba(96, 165, 250, 0.20);
    padding: 10px 18px;
    margin-bottom: 50px;
}

.mainHeading {
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -1.5px;
}

.mainPara,
.softSkillPara,
.careerOppPara,
.eligiblityPoint,
.whyChoosePara,
.cta-para {
    font-size: 18px;
    font-weight: 400;
    line-height: 29.25px;
}

.btn-apply,
.btn-brochure,
.btn-visit {
    padding: 14px 32px;
    border-radius: 26843500px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.btn-brochure {
    box-shadow: none !important;
    border: 0.8px solid rgba(255, 255, 255, 0.30);
}

.btn-visit {
    box-shadow: none !important;
    border: 1.6px solid #FFF;
}

.main-img {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.main-img {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(1, 76, 136, 0.30) 0%, rgba(1, 76, 136, 0.00) 100%) !important;
}

.main-img img {
    border-radius: 16px;
}

/* Main */
.whyCHooseHeading {
    font-size: 20px;
    line-height: 30px;
}

.whyChooseHead h3 {
    font-size: 36px;
    line-height: 40px;
}

.whyChooseHead span {
    width: 80px;
    height: 6px;
    border-radius: 26843500px;
}

.whyCHooseCard {
    border-radius: 16px;
    border: 0.8px solid #F1F5F9;
    padding: 32px;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.whyCHooseIcon {
    width: 60px;
    height: 60px;
    background-color: #EFF6FF;
    border-radius: 16px;
}

.whyChoosePara {
    max-width: 800px;
    width: 100%;
}

.play-overlay {
    width: 80px;
    height: 80px;
    border-radius: 48px;
    background-color: white;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.50);
}

.play-overlay svg {
    width: 24px;
}

.profileCard {
    padding: 24px;
    border-radius: 4px;
    border: 1px solid #E2E8F0;
    background: #FFF;
}

.profileImg {
    border: 1px solid rgba(180, 32, 20, 0.50);
    background: lightgray 50% / cover no-repeat, url(<path-to-image>) lightgray 50% / cover no-repeat;
    max-width: 337px;
    max-height: 314px;
    flex-shrink: 0;
}

.profileContent h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.profileContent p {
    color: rgba(0, 0, 0, 0.70);
    font-size: 18px;
    font-weight: 500;
}

/* Footer */
.social-icon {
    width: 40px;
    height: 40px;
    padding: 0 10px;
    border-radius: 26843500px;
    background: rgba(255, 255, 255, 0.10);
}

.fpara p,
.footlinks,
.copyrightPara,
.iconBthPara {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footerContainer {
    padding: 64px 0;
}

.copyrightBorder {
    border-top: 0.8px solid rgba(255, 255, 255, 0.10);
    opacity: 0.6;
}

/* Footer */