@media (min-width:1200px) {
    .pr-100 {
        padding-right: 100px;
    }
}

@media (max-width:769px) {
    .play-overlay {
        width: 50px;
        height: 50px;
    }

    .play-overlay svg {
        width: 16px;
    }
    .containerPy {
        padding: 40px 10px !important;
    }
    .bgColorLinear {
        padding: 30px 10px;
    }

    .whyChoosePara {
        max-width: 100%;
        width: 100%;
    }

    .whyCHooseCard,
    .disclaimer-container,
    .about-right {
        padding: 20px;
    }

    .mainHeading {
        font-size: 35px;
        line-height: 48px;
    }

    .ctaContainer {
        padding: 15px;
    }

    .gap-md-20 {
        gap: 20px !important;
    }

    .gap-md-30 {
        gap: 30px !important;
    }

    .gap-md-40 {
        gap: 40px !important;
    }

    .careerOppHead h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .programHead h3,
    .softSkillHead h3,
    .eligibeHead h3,
    .whyChooseHead h3 {
        font-size: 25px;
        line-height: 30px;
    }

    .ctaHead,
    .about-right h3 {
        font-size: 20px;
        line-height: 28px;
    }

    .whyChoosePara,
    .nssHeadPara {
        font-size: 16px;
        line-height: 24px;
    }

    .mainPara,
    .btn-apply,
    .whyChoosePara,
    .btn-brochure,
    .btn-visit,
    .softSkillPara,
    .about-right p,
    .activityPara {
        font-size: 14px;
        line-height: 24px;
    }

    .iconBthHead,
    .whyCHooseHeading {
        font-size: 18px;
        line-height: 28px;
    }
    .card-item {
        max-width: 100%;
        padding: 20px;
        gap: 20px;
    }

}

@media (min-width:764px) {
    .gap-48 {
        gap: 48px !important;
    }

    .gap-65 {
        gap: 65px !important;
    }

    .gap-56 {
        gap: 56px !important;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .nav-link {
        font-size: 12px;
    }
}