

@media (max-width:769px) {
    .skillImage img {
        height: auto;
    }

    .infra-banner img {
        height: 320px;
    }

    .programPara,
    .whyChoosePara {
        max-width: 100%;
        width: 100%;
    }
    .containerPy {
        padding: 40px 10px !important;
    }
    .bgColorLinear {
        padding: 30px 10px;
    }

    .infra-content {
        padding: 10px 20px;
    }

    .programCard,
    .eligiblityCard,
    .whyCHooseCard {
        padding: 20px;
    }

    .gap-md-20 {
        gap: 20px !important;
    }

    .gap-md-40 {
        gap: 40px !important;
    }

    .mainHeading {
        font-size: 35px;
        line-height: 48px;
    }

    .cta-heading,
    .careerOppHead h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .programHead h3,
    .eligibeHead h3,
    .whyChooseHead h3 {
        font-size: 28px;
        line-height: 30px;
    }

    .infra-content h2 {
        font-size: 22px;
        line-height: 30px;
    }

    .softSkillPara,
    .whyChoosePara,
    .cta-para,
    .careerOppPara {
        font-size: 16px;
        line-height: 24px;
    }

    .mainPara,
    .programPara,
    .softSkillPoint,
    .eligiblityPoint,
    .whyChoosePara,
    .btn-apply,
    .btn-brochure,
    .btn-visit,
    .infra-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .iconBthHead,
    .programHeading,
    .whyCHooseHeading {
        font-size: 18px;
        line-height: 28px;
    }

    .careerOppPoint {
        font-size: 12px;
        line-height: 20px;
    }
}

@media (min-width:764px) {
    .gap-48 {
        gap: 48px !important;
    }

    .gap-65 {
        gap: 65px !important;
    }

    .gap-100 {
        gap: 100px !important;
    }

    .skillImage {
        max-height: 300px;
        height: 100%;
    }
}

