@media (max-width:764px) {
    .menu {
        gap: 14px;
    }

    #navbarSupportedContent {
        border-top: 1px solid #014C88;
    }

    .footerContainer {
        padding: 40px 0px;
    }

    .gap-md-20 {
        gap: 20px !important;
    }
}

@media (min-width:764px) {
    .navbar-expand-lg .navbar-toggler {
        display: block !important;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none !important;
    }

    .gap-48 {
        gap: 48px !important;
    }
}