body {
    font-family: "Poppins", sans-serif;
}

.font-robots {
    font-family: "Roboto Slab", serif !important;
}

.font-poppins {
    font-family: "Poppins", sans-serif !important;
}

.color-1 {
    color: #475569 !important;
}

.color-2 {
    color: #DBEAFE !important;
}

.bg-shad-1 {
    background: #014C88 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-400 {
    font-weight: 400 !important;
}


/* Header */
.logo-img {
    height: 60px;
    flex-shrink: 0;
}

.navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
}

.menu {
    gap: 32px;
}

.menu li,
.btnExpCourse,
.foothead {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
}

.btnExpCourse {
    padding: 10px 24px;
    border-radius: 33554400px;
    background: #014C88;
    box-shadow: 0 10px 15px 0 rgba(59, 130, 246, 0.30), 0 4px 6px 0 rgba(59, 130, 246, 0.30);
}

/* Header */

/* Footer */
.social-icon {
    width: 40px;
    height: 40px;
    padding: 0 10px;
    border-radius: 26843500px;
    background: rgba(255, 255, 255, 0.10);
}

.fpara p,
.footlinks,
.copyrightPara {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footerContainer {
    padding: 64px 0;
}

.copyrightBorder {
    border-top: 0.8px solid rgba(255, 255, 255, 0.10);
    opacity: 0.6;
}

/* Footer */